h1, body {
    font-family: 'Yrsa', serif;
}

.center {
    align-items: center;
} 

button {
    margin: 13px;
}

body {
    background-color: salmon; 
}

.jumbotron {
   width: 70%;  
   background-image: url(raining_bananas.gif); 
}